tropo-server/src/main/resources/conference-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="urn:xmpp:ozone:conference:1"
	xmlns:tns="urn:xmpp:ozone:conference:1" 
	elementFormDefault="qualified">

	<element name="conference" type="tns:conferenceType" />

	<complexType name="conferenceType">
		<attribute name="id" type="string" use="required" />
		<attribute name="beep" type="boolean" use="optional" />
		<attribute name="mute" type="boolean" use="optional" />
		<attribute name="tone-passthrough" type="boolean" use="optional" />
		<attribute name="terminator" type="string" use="optional" />
	</complexType>

</schema>