tropo-server/src/main/resources/ozone-ext-complete-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:xmpp:ozone:ext:complete:1" xmlns:tns="urn:xmpp:ozone:ext:complete:1" elementFormDefault="qualified">

	<!-- Complete due to a <stop/> command -->
	<element name="stop" type="tns:empty" />

    <!-- Complete due to a hangup -->
    <element name="hangup" type="tns:empty" />

	<!-- Complete due to a system error -->
	<element name="error" type="string" />

	<!-- Utility: Empty Type -->
	<simpleType name="empty">
		<restriction base="string">
			<enumeration value='' />
		</restriction>
	</simpleType>

</schema>